<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="edit-form" action="edit.html" th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="John Doe" th:value="*{title}"/>
    </div>
    <div class="row">
        <label for="book-author-input">Author:</label>
        <input id="book-author-input" name="author" type="text" value="John Doe" th:value="*{author.name}"/>
    </div>
    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <input id="book-genre-input" name="author" type="text" value="John Doe" th:value="*{genre.title}"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/book/{id}(id=*{id})}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
